.card{
  .card-icon-frame{
    display: none !important;
  }
  .des{
    padding: 2rem !important;
    p{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    a{
      padding-bottom: 1rem;
    }
  }
}