/* debug style  */
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100% !important;
  background-color: #303030 !important;
}

.pcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-moz-selection {
  color: #fff;
  background: #ff7113;
}

*::selection {
  color: #fff;
  background: #ff7113;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

section {
  scroll-behavior: smooth;
}

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.main-navbar .nav-top {
  height: 2rem;
  width: 100%;
  background-color: black;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main-navbar .nav-top .right .media-icon-frame {
  margin-left: 0.5rem;
}
.main-navbar .nav-top .right .media-icon-frame .media-icon {
  width: 1.3rem;
  transition: all 50ms ease-in-out;
}
.main-navbar .nav-top .right .media-icon-frame .media-icon:hover {
  transform: scale(1.1);
}
.main-navbar .nav-top .left a {
  color: white;
  font-size: small;
}
.main-navbar .nav-top .left a:hover {
  color: #ff7113;
}
.main-navbar .nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(26, 26, 26, 0.6);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 300ms ease-in-out;
}
.main-navbar .nav-bottom.solid-bg {
  background-color: rgb(26, 26, 26) !important;
}
.main-navbar .nav-bottom .right {
  width: 8rem;
}
.main-navbar .nav-bottom .right h1 {
  color: white;
  font-size: 1rem;
  text-align: end;
  margin: 0;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .main-navbar .nav-bottom .right h1 {
    display: none;
  }
}
.main-navbar .nav-bottom .right .nav-bar-frame {
  position: relative;
  display: none;
}
.main-navbar .nav-bottom .right .nav-bar-frame .nav-bar-toggler {
  width: 2rem;
  height: 2rem;
  border: none;
}
.main-navbar .nav-bottom .right .nav-bar-frame .nav-bar-toggler .nav-icon {
  height: 1.5rem;
}
.main-navbar .nav-bottom .right .nav-bar-frame .drdn-menu {
  display: none;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 105%;
  background-color: #363636;
  padding: 0;
  margin: 0;
  width: 10rem;
}
.main-navbar .nav-bottom .right .nav-bar-frame .drdn-menu .nav-link {
  width: 100% !important;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(141, 141, 141);
}
.main-navbar .nav-bottom .right .nav-bar-frame .drdn-menu .nav-link:hover {
  color: #363636 !important;
  background-color: white;
}
.main-navbar .nav-bottom .right .nav-bar-frame .drdn-menu.active {
  display: block;
}
@media (max-width: 768px) {
  .main-navbar .nav-bottom .right .nav-bar-frame {
    display: block;
  }
}
.main-navbar .nav-bottom .center a {
  position: relative;
  color: rgb(141, 141, 141);
  padding: 1rem;
}
.main-navbar .nav-bottom .center a:hover {
  color: white !important;
}
.main-navbar .nav-bottom .center a:hover::after {
  bottom: 10px;
  height: 2px;
  background-color: rgb(242, 65, 65) !important;
}
.main-navbar .nav-bottom .center a::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0.5rem;
  right: 0.5rem;
  height: 0;
  background-color: rgb(143, 25, 25);
  transition: all 200ms ease-in-out;
}
@media (max-width: 768px) {
  .main-navbar .nav-bottom .center {
    display: none;
  }
}
.main-navbar .nav-bottom .left {
  width: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.main-navbar .nav-bottom .left img {
  height: 3rem;
}

.nav-link.active {
  color: rgb(242, 65, 65) !important;
}
.nav-link.active::after {
  bottom: 10px !important;
  background-color: rgb(242, 65, 65) !important;
  height: 2px !important;
}

.footer {
  background-color: #000000;
  margin: 0;
  min-height: 50vh;
}
.footer .row {
  padding: 2rem;
}
.footer .row .left {
  flex-direction: column;
  padding-left: 3rem;
}
.footer .row .left .logo-frame img {
  width: 10rem;
}
.footer .row .left .my-email {
  margin-top: 0.5rem;
  color: white;
  font-size: small;
}
.footer .row .left .my-email:hover {
  color: #ff7113;
}
.footer .row .left .my-location {
  margin-top: 0.5rem;
  color: white;
  font-size: small;
}
.footer .row .left .my-location:hover {
  color: #ff7113;
}
.footer .row .left .media-icon-frame {
  margin-right: 0.5rem;
}
.footer .row .left .media-icon-frame .media-icon {
  width: 1.3rem;
  transition: all 50ms ease-in-out;
}
.footer .row .left .media-icon-frame .media-icon:hover {
  transform: scale(1.1);
}
.footer .row .center {
  color: white;
}
.footer .row .right {
  color: white;
  margin-top: 2rem;
  padding-left: 3rem;
}
.footer .row .right .footer-links {
  padding-left: 1rem;
}
.footer .row .right .footer-links a {
  color: white;
  font-size: small;
}
.footer .row .right .footer-links a:hover {
  color: #ff7113;
}
.footer .row .right .footer-links a.active {
  color: #ff7113;
}

.sub-page-header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.sub-page-header .img-frame {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.sub-page-header .img-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-page-header .row .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
}
.sub-page-header .row .cards .card {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.6666666667);
  transform: scale(0.98);
  margin-top: 0.3rem;
  transition: all 200ms ease-in-out;
}
.sub-page-header .row .cards .card.active, .sub-page-header .row .cards .card:hover {
  background-color: white;
  transform: scale(1);
}
.sub-page-header .row .cards .card .card-icon-frame {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-page-header .row .cards .card .card-icon-frame img {
  width: 3em;
  height: 3em;
}
.sub-page-header .row .cards .card .des {
  padding: 0.5rem;
}
.sub-page-header .row .cards .card .des h1 {
  font-size: 1.5rem;
  margin: 0;
}
.sub-page-header .row .cards .card .des p {
  font-size: 1rem;
  margin: 0;
}/*# sourceMappingURL=main.css.map */